/* Responsive CSS - 2017, Frafra */

#header {
  overflow: hidden !important;
}

#navigation {
  height: auto !important;
  background-size: auto 100% !important;
}

#main-menu, #brdmenu ul {
  display: flex;
}

@media all and (max-width: 850px) {
  #main-menu, #brdmenu ul {
    flex-direction: column;
  }
  
  h2 .conr,
  #brdmain .tc2, #brdmain .tc3,
  #quickpost, #search, #brdfooternav {
    display: none !important;
  }

  .crumbs li {
    white-space: normal !important;
  }
  
  .postleft {
    width: 100% !important;
    margin-left: 0 !important;
    background-color: #e6e6e6;
    text-align: center;
  }

  .postbody {
    margin-right: 0 !important;
  }
  
  .postright {
    padding: 1em !important;
  }
}
